@mixin round($angle: 10px) {
  border-radius: $angle;
}

@mixin triangle($size: 10px, $directions:'up') {
  position: relative;
  border: none;
  padding: 50px;
  &:after {
    content: '';
    position: absolute;
    border: 20px solid transparent;
    @if $directions == 'up' {
      border-bottom: 20px solid green;
    }
    @if $directions == 'down' {
      border-top: $size solid green;
    }
    @if $directions == 'right' {
      border-left: $size solid green;
    }
    @if $directions == 'left' {
      border-right: $size solid green;
    }

  }
}
